.quote-container {
  width: 100%;
  height: 600px;

  .quote-wrapper {
    width: 60%;
    height: 300px;
    text-align: center;
    display: block;
    margin: 100px auto;

    .quotes {
      margin-top: 70px;
      font-size: 3vw;

      #new-quote {
        transition: 1s;
      }
    }

    .button-wrapper {
      margin-top: 50px;

      a {
        padding: 15px;
      }
    }
  }
}